<% @title = "Resend unlock instructions" %>

<div id="main" class='devise-1'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1><%=app_name%></h1>
        <p class="p-0 m-0">Unlock My Account</p>
      </header>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <%= form_for resource, as: resource_name, url: unlock_path(resource_name),
                html: { method: :post, class: "form-horizontal" } do |f| %>
                <%= f.error_notification %>

                <%= f.form_group :email, class: "row" do |f| %>
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  <%= f.error_messages %>
                <% end %>

                <div class="row d-flex align-items-center mt-5">
                  <%= link_to "Sign in?", new_session_path(resource_name) %>
                  <%= f.submit "Resend unlock instructions", class: 'btn btn-primary ml-auto' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
