<% content_for :head do %>
  <%= javascript_include_tag "https://www.thomasfrank.se/sessvars.js" %>
<% end %>

<div class='container'>
  <div class="col-12 animate-fade-in-1000">

  <h1><%= @title %> Quiz</h1>
	

  <!-- Question Nav -->
  <div class="card card-default inspectable">
    <div class="card-header d-flex align-items-center justify-content-between">
      <ul class="nav nav-tabs nav-tabs-xs">
        <% i = 0%>
        <% ques_num = 0%>
        <% nav_var = ""%>
        <% @contents.each do |entry| i+=1%>
          <% i == 1 ? nav_var = "nav-link active" : nav_var = "nav-link" %>
          <li class="nav-item">
            <% heading = ""%>
            <% case entry[0]%>
            <% when "OV"%>
              <% heading = "Overview"%>
            <% when "TH"%>
              <% heading = "Theory"%>
            <% else %>
              <% heading = "Question #{ques_num+=1}"%>
            <% end %>
            <a id="change<%=i%>" class='<%=nav_var %>' href=<%="#content#{i}"%> data-toggle="tab"><%= heading %></a>
          </li>
        <%end %>
      </ul>
    </div>

      <!-- Question Content -->
      <% j = 0%>
      <% k = 0%>
      <% b = 0%>
      <% n = 2%>
			<% fib = 0 %>
      <% question_list = [] %>
      <div class="tab-content container">
      <% @contents.each do |index| %>
        <% var_class = "tab-pane fade"%>
        <% var_class += " active show" if j == 0 %>
        <% j+=1%>
        <div class='<%=var_class %>' style='height: 444px; overflow-y: auto;' id='<%="content#{j}"%>'>

      <% case index[0]%>
      <% when "OV"%>
        <p><%= index[1]%></p>
      <% when "TH"%>
        <% array_count = 0 %>
        <% until index[array_count+=1].nil? %>
          <% if index[array_count].kind_of?(Array)%>
             <% case index[array_count][0]%>
             <% when "img" %>
              <img src="<%=index[array_count][1]%>" alt="Theory <%=array_count%>"> 
             <% when "li" %>
              <% count = 0 %>
              <ul>
              <% until index[array_count][count+=1].nil? %>
                <li><%=index[array_count][count]%></li>
              <% end %>
              </ul>
             <% end %>
          <% else %>
            <p><%= index[array_count]%></p>
          <% end %>
        <% end %>
      <% when "TF"%>
        <p><%= index[1]%></p>
        <div class="form-group">
            <label for="true_false<%=j%>">True or False?</label>
            <select class="form-control" id="true_false<%=j%>">
            <option>True</option>
            <option>False</option>
            </select>
        </div>
        <% question_list.push("true_false#{j}") %>
      <% when "DL"%>
        <p><%= index[1]%>______</p>
        <div class="form-group">
            <label for="drop_down<%=j%>">Choose from the list below</label>
            <select class="form-control" id="drop_down<%=j%>">
            <% counter = 1 %>
            <% until index[counter+=1].nil? %>
              <option><%= index[counter]%></option>
            <% end %>
            </select>
        </div>
        <% question_list.push("drop_down#{j}") %>
      <% when "FIB"%>
        <p id="fill_in_blanks">
        <% array_count = 0 %>
        <% answer = [] %>
        <% until index[array_count+=1].nil? %>
          <% if (index[array_count][0] == "@") %>
            <% maxlength = index[array_count].size-1%>
            <input type="text" class="input-<%=maxlength%>" size="<%=index[array_count].size%>" maxlength="<%= maxlength %>" id='fib<%= fib+=1 %>'/>
            <% if (index.length > 4) %>
              <% answer.push("fib#{fib}") %>
            <% else %>
              <% question_list.push("fib#{fib}") %>
            <% end %>
          <% else %>
            <%= index[array_count].strip %>
          <% end %>
        <% end %>
        <% unless (answer.empty?) %>
          <% question_list.push(answer) %>
        <% end %>
        </p>
      <% when "MC"%>
        <p> <%=index[1]%> </p>
          <% m = 2 %>
          <% until m == index.count do %>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" value='<%=index[m]%>' name=<%="check#{j}"%> id=<%="check#{k}"%>>
              <label class="custom-control-label" for=<%="check#{k}"%>>
                <%= index[m]%>
              </label>
            </div>
            <% m+=1 %>
            <% k+=1 %>
          <% end %>
        <% question_list.push("check#{j}") %>  
      <% when "SC"%>
        <p> <%=index[1]%> </p>
          <% m = 2 %>
          <% until m == index.count do %>
            <div class="custom-control custom-radio custom-control">
              <input type="radio" value='<%=index[m]%>' class="custom-control-input" id=<%="check#{k}"%> name="answer<%=j%>">
              <label class="custom-control-label" for=<%="check#{k}"%>><%= index[m]%></label>
            </div>
            <% m+=1 %>
            <% k+=1 %>
          <% end %>
          <% question_list.push("answer#{j}") %> 
      <% when "SCP"%> 
        <p> <%=index[1]%> </p>
        <div class="row container">
        <% answer_num = 1 %>
        <% m = 2 %>
        <% until m == index.count do %>
          <div class="col-5 col-md-5 col-lg-5 m-2 rounded">
                <input type="radio" value="Answer <%=answer_num%>" name="answer<%=j%>">
                <img src="<%=index[m]%>" alt="Answer <%=answer_num%>">      
          </div>
          <% m+=1 %>
          <% answer_num+=1 %>
        <% end %>
        </div>
        <% question_list.push("answer#{j}") %>
      <% when "CLP"%>
        <p> <%=index[1]%> </p>
        <img src="<%=index[2]%>" usemap="#image-map<%=j%>" class="map">
        <map name="image-map<%=j%>">
          <% m = 3 %>
          <% option_num = 1 %>
          <% until m == index.count do %>
            <area target="_blank" alt="option-<%=option_num%>" title="option-<%=option_num%>" coords="<%=index[m]%>" shape="rect">
            <% option_num+=1 %>
            <% m+=1 %>
          <% end %>
        </map>
        <% question_list.push("image-map#{j}") %>
      <% when "DD"%>
        <p> <%=index[1]%> </p>
        <ul id=<%="sortable"%>>
          <% m = 2 %>
          <% until m == index.count do %>
            <li class="ui-state-default"><div class="center"> <%= index[m]%> </div></li>
            <% m+=1 %>
          <% end %>
	      </ul>
        <% question_list.push("sortable") %>
      <% end %>

        <!-- Back and Next Buttons -->
					
        <li class="nav nav-item">
          <a id="back" class='nav-link btn btn-warning' onclick="change(<%= b %>)" href='<%="#content#{b}"%>' data-toggle="tab">Back</a>
          <a id="next" class='nav-link btn btn-info' onclick="change(<%= n %>)" href='<%="#content#{n}"%>' data-toggle="tab">Next</a>
          <% b+=1%>
          <% n+=1%>
        </li>
        </div>
      <%end %>
			<%= link_to('Home', welcome_dashboard_path, class: "btn btn-success ml-auto btn-xlarge") %>
      <button class="btn btn-primary", style="float:right" type="submit" onclick="mark(<%=question_list%>)">Submit</button>
      </div>
    </div>
  </div>
</div>
<%= content_tag :div, id: "answers", data: {data: @answer} do %>
<% end %>
<%= content_tag :div, id: "question", data: {data: @question} do %>
<% end %>
<%= content_tag :div, id: "header", data: {data: @title} do %>
<% end %>

<script>
  $(document).ready(function() {
    
    $.getScript("https://www.thomasfrank.se/sessvars.js", function(){
      sessvars.Answer = {correctAnswer: $('#answers').data('data')};
      $('#answers').remove();
      sessvars.Questions = {questionList: $('#question').data('data')};
      $('#question').remove();
      sessvars.Header = {header: $('#header').data('data')};
      $('#header').remove();
    });

    var replace = $("div.container").html().replace(/\[sup\]/g,'<sup>').replace(/\[\/sup\]/g,'</sup>');
    $("div.container").html(replace);

    $("ul.nav:last-child").click(function() {
      $("button.btn-primary").removeAttr('disabled');
    })

    $('area').click(function() {
      $(this).attr('selected', 'selected');
      $(this).siblings().removeAttr('selected');
    });
    
    $("#sortable").sortable().disableSelection();
  });
</script>