<div class='container'>
<div class="col-12 animate-fade-in-1000">
<h1>Maths Quiz</h1>
    <h3><%= @question[0][0] %></h3>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline1"><%= @question[0][1]%></label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2"><%= @question[0][2]%></label>
    </div>

    <div class="checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            <%= @question[0][1]%>
        </label>
    </div>

    <div class="checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            <%= @question[0][2]%>
        </label>
    </div>
    <div class="checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">
            <%= @question[0][3]%>
        </label>
    </div>

    <button type="button" class="btn btn-warning">Back</button>
    <button type="button" class="btn btn-info">Next</button>
</div>
</div>