<div class='container'>
    <div class="col-12 animate-fade-in-1000">

    <h1><%= @title %></h1>

    <!-- Question Nav -->
    <div class="card card-default inspectable">
      <div class="card-header d-flex align-items-center justify-content-between">
        <ul class="nav nav-tabs nav-tabs-xs">
          <% i = 0%>
          <% ques_num = 0%>
          <% nav_var = ""%>
          <% @question.each do |entry| i+=1%>
            <% i == 1 ? nav_var = "nav-link active" : nav_var = "nav-link" %>
            <li class="nav-item">
              <% heading = ""%>
              <% case entry[0]%>
              <% when "OV"%>
                <% heading = "Overview"%>
              <% when "TH"%>
                <% heading = "Theory"%>
              <% else %>
                <% heading = "Question #{ques_num+=1}"%>
              <% end %>
              <a id="change<%=i%>" class='<%=nav_var %>' href=<%="#content#{i}"%> data-toggle="tab"><%= heading %></a>
            </li>
          <%end %>
        </ul>
      </div>

      <!-- Question Content -->
      <% j = 0%>
      <% k = 0%>
      <% b = 0%>
      <% n = 2%>
			<% fib = 1 %>
      <div class="tab-content container">
      <% @question.each do |index| %>
        <% var_class = "tab-pane fade"%>
        <% var_class += " active show" if j == 0 %>
        <% j+=1%>
        <div class='<%=var_class %>' style='height: 444px; overflow-y: auto;' id='<%="content#{j}"%>'>

      <% case index[0]%>
      <% when "OV", "TH"%>
        <p><%= index[1]%></p>
      <% when "TF"%>
        <p><%= index[1]%></p>
        <div class="form-group">
            <label for="true_false<%=j%>">True or False?</label>
            <select class="form-control" data-answer='<%= @answers %>' id="true_false<%=j%>">
            <option>True</option>
            <option>False</option>
            </select>
        </div>
      <% when "DL"%>
        <p><%= index[1]%>______</p>
        <div class="form-group">
            <label for="drop_down<%=j%>">Choose from the list below</label>
            <select class="form-control" id="drop_down<%=j%>">
            <option><%= index[2]%></option>
            <option><%= index[3]%></option>
            <option><%= index[4]%></option>
            </select>
        </div>
      <% when "FIB"%>
        <p id="fill_in_blanks">
        <% array_count = 0 %>
        <% until index[array_count+=1].nil? %>
          <% if (index[array_count][0] == "@") %>
           	<input type="text" size="<%=index[array_count].size%>" maxlength="<%=index[array_count].size-1%>" id='fib<%= fib %>'/>
					 	<% fib+=1 %>
          <% else %>
            <%= index[array_count].strip %>
          <% end %>
        <% end %>
        </p>
      <% when "SC"%>
        <p> <%=index[1]%></p>
          <% m = 2 %>
          <% until m == index.count do %>
            <div class="custom-control custom-radio custom-control">
              <input type="radio" value='<%=index[m]%>' class="custom-control-input" id=<%="check#{k}"%> name="answer<%=j%>">
              <label class="custom-control-label" for=<%="check#{k}"%>><%= index[m]%></label>
            </div>
            <% m+=1 %>
            <% k+=1 %>
          <% end %>
      <% when "MC"%>
        <p> <%=index[1]%> </p>
          <% m = 2 %>
          <% until m == index.count do %>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" value='<%=index[m]%>' name=<%="check#{j}"%> id=<%="check#{k}"%>>
              <label class="custom-control-label" for=<%="check#{k}"%>>
                <%= index[m]%>
              </label>
            </div>
            <% m+=1 %>
            <% k+=1 %>
          <% end %>
      <% when "SCP"%>
        <p> <%=index[1]%> </p>
        <div class="row container">
        <div class="col-5 col-md-5 col-lg-5 m-2 rounded">
              <input type="radio" id=<%="check#{k}"%> name="answer<%=j%>">
              <img src="<%=index[2]%>" alt="Answer 1" height="200" width="200">      
        </div>
        <div class="col-5 col-md-5 col-lg-5 m-2 rounded">
              <input type="radio" id=<%="check#{k}"%> name="answer<%=j%>">
              <img src="<%=index[3]%>" alt="Answer 2" height="200" width="200">   
        </div>
        </div>
      <% when "CLP"%>
        <p> <%=index[1]%> </p>
        <img src="<%=index[2]%>" usemap="#image-map">

        <map name="image-map">
            <area target="_blank" alt="option-1" title="option-1" coords="126,16,139,128" shape="rect">
            <area target="_blank" alt="option-2" title="option-2" coords="233,21,402,38" shape="rect">
            <area target="_blank" alt="option-3" title="option-3" coords="12,120,540,135" shape="rect">
        </map>
      <% when "PIC"%>
        <p> <%=index[1]%> </p>
        <img src="<%=index[2]%>" usemap="#image-map2">

        <map name="image-map2">
            <area target="_blank" alt="area-1" title="area-1" coords="117,9,175,237" shape="rect">
            <area target="_blank" alt="area-2" title="area-2" coords="365,15,413,240" shape="rect">
        </map>
      <% when "DD"%>
        <p> <%=index[1]%> </p>
        <ul id="sortable">
          <li class="ui-state-default"><div class="center"> Air </div></li>
          <li class="ui-state-default"><div class="center"> Steel </div></li>
          <li class="ui-state-default"><div class="center"> Water </div></li>
	      </ul>
      <% end %>

          <!-- Back and Next Buttons -->
          <li class="nav nav-item">
            <a id="back" class='nav-link btn btn-warning' onclick="change(<%= b %>)" href='<%="#content#{b}"%>' data-toggle="tab" disabled>Back</a>
            <a id="next" class='nav-link btn btn-info' onclick="change(<%= n %>)" href='<%="#content#{n}"%>' data-toggle="tab">Next></a>
            <% b+=1%>
            <% n+=1%>
          </li>
          </div>
        <%end %>
        <button type="submit" onclick="mark()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.thomasfrank.se/sessvars.js"></script>
<script>
  $("#sortable").sortable().disableSelection();
</script>