<head>
<link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
<style>
h1 {
    font-family: 'Amiko'
}
</style>
</head>
<div style="width: 100%">
	<%= render partial: 'content_blocks/app_navs/4' %>
</div>	
<br>
<div class="container">
	<div class="row container">
	<h1><%= @title %></h1>
	<% if @note %>
	<h6 class= "m-0 text-muted">
		<%= @note %>
	</h6>
	<% end %>
	<% if @subjects %>
	<% @subjects.each do |subject| %>
		<div class="col-12 col-md-12 col-lg-12 animate-drop-fade">
			<div class="card card-mini  inspectable">
				<div class="card-body">
					<div class="media">
						<div class="d-flex align-self-center mr-3">
						</div>
						<%= link_to action: subject.downcase.gsub(/\s+/, "") do %>
						<div class="media-body text-left">
							<h4 class="m-0 text-muted"><%= subject%></h4>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<% else %>
		<h2 class= "mx-2 text-muted"> Coming Soon!</h2>
	<% end %>
		<div class="container-fluid">
			<br>
			<%= image_tag "background.png" %> 
		</div>
	</div>
</div>
