<div class="row">
  <div class="col-12">
    <div class="card card-default position-relative inspectable">
      <!-- component-title: Active Users Table -->
      <div class="card-header">
        <h6>MOST ACTIVE USERS</h6>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Location</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
          <tr>
            <td>1</td><td><strong>Fred Berlin</strong></td>
            <td>Vancouver, Canada</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td><td>Octavius Belt</td>
            <td>London, United Kingdom</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td><td><strong>Cash Money</strong></td>
            <td>New York City, USA</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>4</td><td><strong>Bailey Bingface</strong></td>
            <td>Liberia</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>5</td><td><strong>Altus Zombo</strong></td>
            <td>Monrovia</td>
            <td><span class="badge badge-danger">Suspended</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>6</td><td><strong>Leslie Taket</strong></td>
            <td>Dublin, Ireland</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>7</td><td><strong>Leslie Taket</strong></td>
            <td>Dublin, Ireland</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>8</td><td><strong>Leslie Taket</strong></td>
            <td>Dublin, Ireland</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>9</td><td><strong>Leslie Taket</strong></td>
            <td>Dublin, Ireland</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>10</td><td><strong>Leslie Taket</strong></td>
            <td>Dublin, Ireland</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a data-toggle="tooltip" class="btn " data-original-title="Delete"><%= theme_icon_tag "trash" %></a>
                <a data-toggle="tooltip" class="btn " data-original-title="Edit"><%= theme_icon_tag "pencil-alt" %> </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
