<div class="container">
  <h2 class="text-center header-separator mt-4">Our Amazing Partners</h2>
  <p class="text-center lead text-uppercase mb-5">Ipsum aliquam optio est maxime quam. Neque tempore voluptas a veritatis.</p>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="media mb-4 border border-2x p-3 text-center">
        <div class="media-body">
          <%= theme_icon_tag "eye", class: "h2" %>
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4 border border-2x p-3 text-center">
        <div class="media-body">
          <%= theme_icon_tag "hand-stop", class: "h2" %>
          <h5 class="mt-0">Feature 2</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4 border border-2x p-3 text-center">
        <div class="media-body">
          <%= theme_icon_tag "info", class: "h2" %>
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4 border border-2x p-3 text-center">
        <div class="media-body">
          <%= theme_icon_tag "ticket", class: "h2" %>
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media border border-2x p-3 text-center">
        <div class="media-body">
          <%= theme_icon_tag "panel", class: "h2" %>
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4 border border-2x p-3 text-center">
        <div class="media-body">
          <%= theme_icon_tag "bolt", class: "h2" %>
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
