<header class="landing-header-1" style="background-image: url(<%= image_path('rrt/stock/landscape_13.jpg') %>)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-landing  navbar-centered navbar-expand-lg my-3">
          <a href="javascript:" class="navbar-brand d-lg-none"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#standardLandingNavbarWithCenteredBrand" aria-controls="standardLandingNavbarWithCenteredBrand" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="standardLandingNavbarWithCenteredBrand">
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">HOME</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">ABOUT</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">TEAM</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">CONTACT</a>
              </li>
            </ul>
            <a href="javascript:" class="navbar-brand navbar-center text-center d-none d-sm-none d-md-none d-lg-block"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="btn btn-sm btn-outline-light text-white text-hover-dark" href="javascript:">SIGN IN</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-sm btn-primary" href="javascript:">SIGN UP</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="container header-caption">
    <div class="row">
      <div class="col-12 col-md-6 px-5">
        <div class="text-white">
          <h2 class="mt-5 font-weight-bold leading-tight">WELCOME TO THE NEW THING</h2>
          <p>Lorem ea sit vel laudantium numquam vel officiis impedit aliquam! Perspiciatis maiores veniam perspiciatis rem debitis.</p>
        </div>
        <div class="card p-2 mt-4">
          <form action="" class="">
            <div class="form-row">
              <div class="input-group input-group-sm mb-2 col-md-12">
                <span class="input-group-prepend" id="basic-addon1"><div class="input-group-text"><%= theme_icon_tag "email" %></div></span>
                <input type="text" class="form-control" id="inlineFormInputName2" placeholder="Your Email">
              </div>
            </div>
            <div class="form-row">
              <div class="input-group input-group-sm col-md-6">
                <span class="input-group-prepend" id="basic-addon1"><div class="input-group-text"><%= theme_icon_tag "key" %></div></span>
                <input type="password" class="form-control" id="inputEmail4" placeholder="Password">
              </div>
              <div class="input-group input-group-sm col-md-6">
                <span class="input-group-prepend" id="basic-addon1"><div class="input-group-text"><%= theme_icon_tag "key" %></div></span>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <a class="btn btn-primary text-white w-100 mt-2">SIGN UP</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-md-6 pr-5 pt-5">
        <iframe src="https://player.vimeo.com/video/169976596?title=0&byline=0&portrait=0&like=0" width="100%" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</header>
